@tailwind base;
@tailwind components;
@tailwind utilities;

.template-columnas {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
}